<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Détail enfant</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Détail enfant</h1>
    <ol class="breadcrumb">
        <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Détail enfant</li>
        <li th:text="${enfant.nom}+ ' '+${enfant.prenom}"></li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">


    </div>
</div>
</body>
</html>
