<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar" th:fragment="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu" data-widget="tree">
        <!-- <li class="header"></li> -->
        <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> <span>Tableau de bord</span></a></li>


        <li class="treeview">
            <a href="#"><i class="fa fa-language"></i> <span>Gestion des langues</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
                <li><a th:href="@{/langue}"><i class="fa fa-circle-o"></i> Toutes les langues</a></li>
                <li><a th:href="@{/langue/add}"><i class="fa fa-circle-o"></i> Ajouter un langue</a></li>
            </ul>
        </li>

        <li class="treeview">
            <a href="#"><i class="fa fa-list"></i> <span>Gestion des catégories</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
                <li><a th:href="@{/categorie}"><i class="fa fa-circle-o"></i> Tous les catégories</a></li>
                <li><a th:href="@{/categorie/add}"><i class="fa fa-circle-o"></i> Ajouter une catégorie</a></li>
            </ul>
        </li>

        <li class="treeview">
            <a href="#"><i class="fa fa-youtube-play"></i> <span>Gestion des audios</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
                <li><a th:href="@{/audio}"><i class="fa fa-circle-o"></i> Toutes les audios</a></li>
                <li><a th:href="@{/audio/add}"><i class="fa fa-circle-o"></i> Ajouter un audio</a></li>
            </ul>
        </li>


        <li class="treeview">
            <a href="#"><i class="fa fa-money"></i> <span>Gestion des abonnements</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
                <li><a th:href="@{/abonnement}"><i class="fa fa-circle-o"></i> Tous les abonnements</a></li>
                <li><a th:href="@{/abonnement/add}"><i class="fa fa-circle-o"></i> Ajouter un abonnement</a></li>
                <li><a th:href="@{/abonnement/paiement}"><i class="fa fa-circle-o"></i> Positionner un abonnement</a></li>
            </ul>
        </li>

        <li class="treeview">
            <a href="#"><i class="fa fa-users"></i> <span>Gestion des utilisateurs</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
                <li><a th:href="@{/user}"><i class="fa fa-circle-o"></i> Tous les utilisateurs</a></li>
                <li><a th:href="@{/user/add}"><i class="fa fa-circle-o"></i> Ajouter un utilisateur</a></li>
            </ul>
        </li>

        <li class="treeview">
            <a href="#"><i class="fa fa-cogs"></i> <span>Paramètres généraux</span>
                <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </a>
            <ul class="treeview-menu">
                <li><a th:href="@{/config/children/1}"><i class="fa fa-circle-o"></i> Tous les enfants</a></li>
                <li><a th:href="@{/config/paiement/1}"><i class="fa fa-circle-o"></i> Tous les paiements</a></li>
            </ul>
        </li>


    </ul>
    <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->
